.card {
    background-color: #5150761A;
    padding: 25px;
    width: 100%;
}
.card__image {
    display: block;
    width: 290px;
    height: 245px;
}
.card__category {
    display: block;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-bottom: 5px;
}
.card__name {
    color: #515076;
    font-size: 20px;
    line-height: 27px;
    margin: 0;
}
.card__description {
    color: #515076;
    margin-top: 5px;
}

.card__description p:first-child {
    margin-top: 0;
}
.card__description p {
    margin-bottom: 15px;
}
.card__compound {
    color: #515076;
}
